 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp Messaging Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=dark_mode" />
    <link rel="icon" type="image/x-icon" sizes="64x64" href="{{ url_for('static', filename='icon/favicon.ico') }}">
</head>
<body>
    <div class="blur-background" id="blur-bg"></div>
    <nav>
        <div class="logo"><img src="{{ url_for('static', filename='images/jhaishna-logo.png') }}" alt="Jhaishna"><strong>JHAISHNA TECHNOLOGIES</strong></div>
        <div class="selection">
        <div class="home">HOME</div>
        <div class="website">WEBSITE</div>
        <button class="option_menu" id="option_menu">Whatsapp Message Services</button>
        <div class="options invisible" id="options">
            <a href="##" data-file="{{ url_for('static', filename='meta_token_update.html') }}">Meta Token Update</a>
            <a href="##" data-file="{{ url_for('static', filename='Bulk_Message_services.html') }}">Bulk Message services</a>
            <a href="##" data-file="{{ url_for('static', filename='Bulk_Excel_Message.html') }}">Bulk Excel Message</a>
            <a href="##" data-file="{{ url_for('static', filename='Teamwise_bulk_messages.html') }}">TeamWise bulk messages</a>
            <a href="##" data-file="{{ url_for('static', filename='sending_msg_with_name.html') }}">sending_msg_with_name</a>
        </div>
        </div>
        <div class="menu-icon" id="menu-icon">
            <div class="line top"></div>
            <div class="line middle"></div>
            <div class="line bottom"></div>
        </div>
    </nav>
    <iframe id="content_iframe" style="width: 100%; height: 100vh; border: none;"
    data-default-page="{{ url_for('static', filename='meta_token_update.html') }}"></iframe>
    <script src="../static/main.js?v=1.0.1"></script>
</body>
</html>
