 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp Messaging Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <div class="logo">MY LOGO</div>
        <div class="selection">
        <div class="home">HOME</div>
        <div class="website">WEBSITE</div>
        <button class="option_menu" id="option_menu">Whatsapp Message Services</button>
        <div class="options invisible" id="options">
            <a href="##" data-file="{{ url_for('static', filename='meta_token_update.html') }}">Meta Token Update</a>
            <a href="##" data-file="{{ url_for('static', filename='Bulk_Message_services.html') }}">Bulk Message services</a>
            <a href="##" data-file="{{ url_for('static', filename='Bulk_Excel_Message.html') }}">Bulk Excel Message</a>
            <a href="##" data-file="{{ url_for('static', filename='Teamwise_bulk_messages.html') }}">TeamWise bulk messages</a>
        </div>
        </div>
    </nav>
    <iframe id="content_iframe" style="width: 100%; height: 600px; border: none;"></iframe>
    <script src="../static/main.js?v=1.0.1"></script>
</body>
</html>
